:root {
    --background-color: radial-gradient(circle at center, #001100 0%, #000800 100%);
    --font-color: #00ff41;
}

body {
    background: var(--background-color);
    color: var(--font-color);
    height: 100vh;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    ;
}

a {
    color: var(--font-color);
}

a:hover {
    color: #ff0000;
}

nav {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--font-color);
    padding: 0.5em 0;
}

.txt {
    display: none;
    padding: 1em 5em;
    -webkit-animation: fadeEffect .3s;
    animation: fadeEffect .3s;
}

h1 {
    text-align: center;
}

b {
    color: #ff0000;
}

button {
    border: 1px solid var(--font-color);
    background: none;
    color: var(--font-color);
    padding: 1em;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

button:hover {
    background: var(--font-color);
    color: black;
    font-weight: bold;
}

dialog {
    border: 3px solid var(--font-color);
    background: var(--background-color);
    color: var(--font-color);
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    margin: 0;
    width:auto;
}

dialog .cards {
    border: none;
    width: auto;
}

#subject {
    display: flex;
    gap: 1em 0;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    border: 1px solid var(--font-color);
    width: 350px;
    padding: 0.5em;
    height: max-content;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
}

#Log ul {
    line-height: 1.5;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.lines {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 300;
    opacity: 0.05;
}

.lines:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
    background-size: 100% 4px;
    will-change: background, background-size;
    animation: scanlines 0.2s linear infinite;
}

@keyframes scanlines {
    from {
        background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, .5) 51%);
        background-size: 100% 4px;
    }

    to {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
        background-size: 100% 4px;
    }
}